@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css?family=Warnes&display=swap');
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

@import './reset.scss';
// $quicksand = font-family: 'Quicksand', serif;

html {
    // margin: 0;
}

body {

    // height: 100vh;
        height: 100%;
               background: #61045F;  /* fallback for old browsers */

}

#root {

    // padding: 0;
    // line-height: 0;

}

#nowrap {
    white-space: nowrap;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;

    color: white;
    text-align: center;
    background-color: #aa076ccb;
    
    // background: #AA076B;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to top, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to top, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.logo  {
    max-width: 200px;
    height: auto;
    margin: 5vmin 0 0 0;

    z-index: 50;
    // animation: blur 2s ease-in;
    // -webkit-animation: blur 2s ease-in;
    // -moz-animation: blur 2s ease-in;

}

.logo-section {
    margin: 2vmin 0 2vmin 0;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px #fff,
        inset 40px 0 80px #f0f,
        inset -40px 0 80px #0ff,
        inset 40px 0 300px #f0f,
        inset -40px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;

    h3 {
        margin-top: -10px;
        font-family: 'Quicksand',sans-serif;
        font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1800 - 300)));
        line-height: calc(24px + (26 - 24) * ((100vw - 300px) / (1800 - 300)));
        font-weight: 700;
        text-decoration: none;

        color: #0DB1DB;

        // animation: glow 1s ease-in-out infinite alternate;
    }

    img {
        opacity: 0.9;
    }
}

.header-section {
    margin: 3vmin 0 0 0;
    //   position: absolute;
}

    .header-section h2 {
        // padding: 2vmin 0;
        font-family: 'Warnes', cursive;
        font-size: calc(20px + (32 - 20) * ((100vw - 300px) / (1800 - 300)));
        line-height: calc(32px + (38 - 32) * ((100vw - 300px) / (1800 - 300)));
        letter-spacing: 1px;
        // color: #1673C4;
        color: #fff;
         -webkit-text-stroke: 0.5px #fff;
         -webkit-text-fill-color: #fff;
        text-decoration: none;

        animation: glow 1s ease-in-out infinite alternate;

        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 1.0s;
        
        &:hover {
            color: #0DB1DB;
            -webkit-animation: neon3 1.0s ease-in-out;
            -moz-animation: neon3 1.0s ease-in-out  alternate;
            animation: neon3 1.0s ease-in-out;
        }
    }


    h4 {
        margin: 1vmin 0;
        font-family: 'Roboto', sans-serif;
        font-size: calc(20px + (32 - 20) * ((100vw - 300px) / (1800 - 300)));
        line-height: calc(20px + (32 - 20) * ((100vw - 300px) / (1800 - 300)));
        font-weight: 700;

        color: #ffc107
    }

    h5 {
        margin: 0 0 2vmin 0;
        font-family: 'Roboto', sans-serif;
        font-size: calc(20px + (32 - 20) * ((100vw - 300px) / (1800 - 300)));
        line-height: calc(24px + (36 - 24) * ((100vw - 300px) / (1800 - 300)));
        font-weight: 700;
        font-style: italic;
        color: #fff;
    }

    @keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 12px #0073e6, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 22px #0073e6, 0 0 28px #0073e6;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 24px #0073e6, 0 0 28px #0073e6, 0 0 38px #0073e6, 0 0 45px #0073e6, 0 0 55px #0073e6;
    }
    }


    @keyframes glow-red {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff2200, 0 0 15px #ff2200, 0 0 25px #ff2200, 0 0 30px #ff2200, 0 0 35px #ff2200;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 24px #ff2200, 0 0 28px #ff2200, 0 0 30px #ff2200, 0 0 45px #ff2200, 0 0 55px #ff2200;
    }
    }

 
h2.progress-header {
    margin: 0 0 1vmin 0;
    font-family: 'Roboto', sans-serif;
    font-size: calc(24px + (36 - 24) * ((100vw - 300px) / (1800 - 300)));
    font-weight: 800;

    color: #ffc107;
}

h1 {
    margin: 2vmin 0;
}

.question-text {
    margin: 0 6vmin;

    font-family: 'Roboto', sans-serif;
    font-size: calc(18px + (32 - 18) * ((100vw - 300px) / (1800 - 300)));
    line-height: calc(24px + (36 - 24) * ((100vw - 300px) / (1800 - 300)));
    font-weight: 800;
}

.answer {
    width: 900px;
    max-width: 90vw;
    margin-top: 10px;
    padding: 1vmin 2vmin;

    font-family: 'Roboto', sans-serif;
    font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1800 - 300)));
    line-height: calc(22px + (28 - 22) * ((100vw - 300px) / (1800 - 300)));
    text-align: left;
    
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out, width 0.2s ease-in-out;

    &:hover {
        color: #fff;
        background-color: #0DD1C4;
    }

    &:focus {
        color: #fff;
        outline: none;
    }

}
.selected {
    font-weight: 700;

    -webkit-text-fill-color: #fff;
    background-color: #18A2AB;
}

.letter {
    /* position: absolute; */
    width: 30px;
    height: 28px;
    top: 0;
    padding: 5px;
    left: 0;

    font-family: 'Lora', serif;
    text-align: center;
    color: #4f4c4c;
    cursor: pointer;
}

/* Results */

.results {
    
    h2 {
        margin: 1vmin 1vmin 2vmin 1vmin;

        font-family: 'Warnes', cursive;
        font-size: calc(24px + (32 - 24) * ((100vw - 300px) / (1800 - 300)));
        line-height: calc(28px + (36 - 28) * ((100vw - 300px) / (1800 - 300)));
        font-weight: 800;

        color: #ffc107;
    }

    ul {
        margin: 2vmin 4vmin 1vmin 4vmin;
        padding: 2vmin 2vmin;
        font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1800 - 300)));
        line-height: calc(24px + (32 - 24) * ((100vw - 300px) / (1800 - 300)));;
        background-color: rgba(50,50,50, 0.8);
        border-radius: 10px;
    }

    span.correct {
        color: #fff;
        font-weight: 800;
        animation: glow 1s ease-in-out infinite alternate;
    }
    
    span.failed {
        color: #fff6a9;
        font-weight: 800;
        animation: glow-red 1s ease-in-out infinite alternate;
    }

}


.error {
    color: #f27c7c;
    font-weight: 800;
}



/* Button */

.btn {
    margin-top: 20px;
    padding: 10px 50px;
    font-size: 18px;
    
    text-transform: uppercase;
    color: #4f4c4c;
    background-color: #f4f4f4;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    color: #fff;
    background-color: #ffce3c;
    border: 2px solid #fff;
    transform: scale(1.1);
}

.btn-primary {
    margin: 2vmin 0;
    color: #4f4c4c;
    background-color: #ffc107;
    font-weight: bold;
}


// General
#badger-comment {
    margin: 1vmin 0 1vmin 0;
    font-size: calc(24px + (36 - 24) * ((100vw - 300px) / (1800 - 300)));
    line-height: calc(24px + (36 - 24) * ((100vw - 300px) / (1800 - 300)));

    color: #fff;
}

#no-wrap {
    white-space: nowrap;
}


// ================================================
// MEDIA QUERIES
// ================================================

// .___  ___.  _______  _______   __       ___           ______      __    __   _______ .______       __   _______     _______.
// |   \/   | |   ____||       \ |  |     /   \         /  __  \    |  |  |  | |   ____||   _  \     |  | |   ____|   /       |
// |  \  /  | |  |__   |  .--.  ||  |    /  ^  \       |  |  |  |   |  |  |  | |  |__   |  |_)  |    |  | |  |__     |   (----`
// |  |\/|  | |   __|  |  |  |  ||  |   /  /_\  \      |  |  |  |   |  |  |  | |   __|  |      /     |  | |   __|     \   \    
// |  |  |  | |  |____ |  '--'  ||  |  /  _____  \     |  `--'  '--.|  `--'  | |  |____ |  |\  \----.|  | |  |____.----)   |   
// |__|  |__| |_______||_______/ |__| /__/     \__\     \_____\_____\\______/  |_______|| _| `._____||__| |_______|_______/    

// ================================================



// ==============Media Query Max 480px Width ==============
//   __    __  .__   __.  _______   _______ .______          _  _      ___     ___   .______   ___   ___ 
//  |  |  |  | |  \ |  | |       \ |   ____||   _  \        | || |    / _ \   / _ \  |   _  \  \  \ /  / 
//  |  |  |  | |   \|  | |  .--.  ||  |__   |  |_)  |       | || |_  | (_) | | | | | |  |_)  |  \  V  /  
//  |  |  |  | |  . `  | |  |  |  ||   __|  |      /        |__   _|  > _ <  | | | | |   ___/    >   <   
//  |  `--'  | |  |\   | |  '--'  ||  |____ |  |\  \----.      | |   | (_) | | |_| | |  |       /  .  \  
//   \______/  |__| \__| |_______/ |_______|| _| `._____|      |_|    \___/   \___/  | _|      /__/ \__\ 
//                                             
// ==============Media Query Max 480px Width ==============


@media only screen and (max-width: 480px) {

    .logo {
        max-width: 150px;
        height: auto;
        margin: 8vmin 0 0 0;
    }

    .logo-section {

        width: 200px;
        height: 200px;
    }

    .header-section {
        margin: 7vmin 1vmin 1vmin 1vmin;
    }
     
}